<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "http://localhost:5000/result" method = "POST">
         <p>a = <input type = "number" name = "a" /></p>
         <p>b = <input type = "number" name = "b" /></p>
         <p><input type = "submit" name="action" value = "add" /></p>
        <p><input type = "submit" name="action" value = "multiply" /></p>
        <p><input type = "submit" name="action" value = "subtract" /></p>
        <p><input type = "submit" name="action" value = "divide" /></p>
      </form>
</body>
</html>